
@import 'https://fonts.googleapis.com/css?family=Bungee|Bungee+Shade';
@import 'https://fonts.googleapis.com/css?family=Play';

$background: #b3d9ff;
$boardbg: #e6ccff;

$tilefont: 'Play', sans-serif;
$memoryfont: 'Bungee Shade', cursive;
$pointsfont: 'Bungee', cursive;